.title h1 {
  margin: 0;
  color: white;
  font-size: 26px;
}
.headercontainer {
  background-color: black;
  height: 70px;
  display: flex;
}
.title {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menus {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menus a {
  color: white;
  margin-right: 50px;
  text-decoration: none;
}
